@import "mixins";

#branding {
	margin-top: 50px;
	h1 {
		margin-bottom: 0px; /* improper reset */
		padding: 0px;		/* improper reset */
	}
	h2 {
		margin-top: 0px;	/* improper reset */
		margin-bottom: 0px;	/* improper reset */
	}
}
nav {
	margin: 30px 0px;
	ul {
		padding-left: 10px;
		float: left;
		li {
			float: left;
			width: auto;	
			a {
				position: relative;
				display: block;
				padding: 5px 10px;
			}
		}	
	}
}
aside {
    margin-top: -15px;
	h3 {
	    font-size: 18px;
		padding: 0 0 10px 0;
        color:#666;
	}
	.widget-pls-quick-search {
        .chzn-container-single {
            padding: 5px 0px;
        }
        .pls_search_form {
            margin: 0px 10px;
            float: left;
            label {
                margin-right: 10px;
            }
        }
        .bedrooms {
            label {
                margin-right: 37px;
            }
        }
        .bathrooms, .bedrooms, .half_baths  {
            float: left;
            select {
                width: 75px;
            }
        }
        .property_type {
            label {
                margin-right: 15px;
            }
            select {
                width: 185px;
            }
        }
        .listing_types {
            label {
                margin-right: 26px;
            }
            select {
                width: 185px;
            }
        }
        .zoning_types {
            label {
                margin-right: 24px;
            }
            select {
                width: 185px;
            }
        }
        .purchase_types {
            label {
                margin-right: 10px;
            }
            select {
                width: 185px;
            }
        }
        .available_on {
            label {
                margin-right: 15px;
            }
        }
        .cities, .states {
            label {
                margin-right: 39px;
            }
        }
        .zips {
            label {
                margin-right: 17px;
            }
            select {
                width: 210px
            }
        }
        .available_on, .cities, .states {
            select {
                width: 210px;
            }
        }
        .min_price {
            label {
                margin-right: 17px;
            }
        }
        .min_price, .max_price {
            margin: 0px 5px;
            select {
                width: 75px;
            }
        }
        input.pls_search_button {
            float: right;
            clear: both;
            padding: 10px 15px;
            margin-top: 10px;
        }
	}

   	.widget-pls-agent {
   	    img {
            border: 1px solid #DBDBDB;
            padding: 10px;
            float: left;
   	    }
   	    h5, span {
   	        margin: 0 0 10px 10px;
   	    }
   	    h5 {
   	        float: left;
            font-size: 20px;
   	    }
   	    span.email {
   	        float: left;
            font-size: 14px;
   	    }
   	    span.phone {
            float: left;
            font-size: 20px;
   	    }
   	}

   	.pls-listing-get_listings_widget {
   	    .listing-item {
   	        border-bottom: 1px solid  #DBDBDB;
   	    }
   	    h4 {
            font-size: 16px;
            margin: 20px 0 0 0;
   	    }
   	    .details {
            font-size: 14px;
            margin-bottom: 10px;
   	    }
   	    .featured-image img {
            border: 1px solid #DBDBDB;
            padding: 10px;
   	    }
       a.learn-more {
            margin: 10px 0;
            float: right;
            @include rounded-corners;
            padding: 10px;
            background-color: #EEE;
        }
        a.learn-more:hover {
            background-color: #5e5e5e;
            color: white;
        }
   	}
}

/* Main Content */
#main_content {
	div.listing-item {
		padding: 30px 0px;
		.property-details {
			padding: 0px;
		}
		header, footer {
			h3 {
				margin: 10px 0 10px 0;
	            font-size: 20px;
			}
			ul {
				padding: 0px;
				li {
					float: left;
					list-style-type: none;
					padding-right: 5px;
				}				
			}

		}
		.entry-meta {
			float: right;
			a {
				padding: 5px 10px;
			}
		}
		.outline {
			padding: 10px;
		}
		.property-image-gallery{
			padding-left: 0px;
				li {
					float: left;
					padding: 5px;
					margin-right: 10px;
				}				
		}
		.details-list-txt {
			ul {
				padding-left: 0px;
				li {
					width: 290px;
					overflow: hidden;
					float: left;
					margin-right: 10px;
				}						
			}
		}
		.property-bottom-nav {
			padding: 10px 0px;
		}
	}
}

/* default get listings list */
.listing-item {
    header {
        padding: 10px 0px;
    }
    .listing-thumbnail {
        float: left;
        width: 270px;
   }
    .basic-details {
        width: 250px;
        float: left;
        padding-left: 15px;
        h3 {
            margin-top: 0px;
            color: #333;
            font-weight: normal;
        }
        p {
            margin: 3px 0px;
        }
    }
    .actions {
        width: 330px;
        padding-right: 5px;
        float: left;
        margin-top: 10px;
        a {
            float: right;
            @include rounded-corners;
            padding: 10px;
            background-color: #EEE;
        }
        a:hover {
            background-color: #5e5e5e;
            color: white;
        }

    }

}


/* search */
.complex-search {
	.pls_search_form {
		float: left;
		width: 300px;
		margin: 10px 10px 0 0;	
		select {
			margin-left: 10px;
			width: 190px;
		}
		.chzn-container {
			float: right;
		}
	}
	.pls_search_button {
		float: right;
		padding: 10px 30px;
		margin: 10px 10px 0 0;
	}
}
.sort_by_wrapper {
	label {
		float: left;
		margin: 12px 10px 0 0;
	}
	float: right;
	#sort-by {
		width: 200px;
}	
}

/* Property Details Page */
article.property-details {
    border-bottom: none !important;
    h2 {
        margin: 5px 0px;
        font-size: 25px;
        border-bottom: none !important;
    }
    span.listing_type {
        color: #999;
    }
    .property-details-slideshow {
        padding-top: 10px;
    }
    h3 {
        margin: 40px 0 0px 0;
        padding: 0;
    }
    .map {
        margin-top: 10px;
        border: 1px solid #DBDBDB;
        padding: 10px;
    }

}

/* General Blog */
article {
    nav {
        .prev {
            float: left;
        }
        .next {
            float: right;
        }
        div {
            width: 300px;
            padding: 20px 0;
            a {
                @include rounded-corners;
                background-color: #EEE;
                padding: 10px;
            }
            a:hover {
                background-color: #5e5e5e;
                color: white;
            }
        }

    }
}