#featured-listing-wrapper .results {
	width: 400px;
	float: left;
	margin-top: 10px;
}
#featured-listing-wrapper .featured-listing-wrapper {
	float: left;
}
#featured-listing-wrapper .datatable-wrapper {
	float: left;
	margin-top: 10px;
}
#featured-listing-wrapper .results#search-results {
	margin-right: 10px;
}

.dataTables_filter {
	float: right;
}
.dataTables_length {
	width: 160px;
	float: left;
}
#datatable_featured_listings {
	margin-top:10px;
}


/* inline */
.featured-listings-wrapper .head {
	width: 100%;	
	float: left;
	clear: both;
}
.featured-listings-wrapper .head h4 {
	float: left;
}
.featured-listings-wrapper .head button {
	float: right;
}
.featured-listings-wrapper .featured-listings {
	float: left;
}
.featured-listings-wrapper .featured-listings ul {
	padding: 0 0 0 20px;
}
.featured-listings-wrapper .featured-listings ul li {
	font-size: 16px;
	list-style-type: disc;
}
