#featured-listing-wrapper #save-featured-listings {
	float: right;
}
#featured-listing-wrapper h3 {
	margin: 5px 0px;
}
#featured-listing-wrapper p {
	margin: 5px 0px;
	font-size: 11px;
}
#featured-listing-wrapper .results {
	width: 400px;
	float: left;
	margin-top: 10px;
}
#featured-listing-wrapper .featured-listing-wrapper {
	float: left;
}
#featured-listing-wrapper .datatable-wrapper {
	float: left;
	margin-top: 10px;
}
#featured-listing-wrapper .results#search-results {
	margin-right: 10px;
}
#featured-listing-wrapper .button {
	float: right;
	margin-top: 10px;
}
#featured-listing-wrapper .featured-listing-form-beds input, #featured-listing-wrapper .featured-listing-form-baths input {
	width: 65px;
}
#featured-listing-wrapper .address {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 10px;
}
#featured-listing-wrapper .address input {
	width: 400px;
	font-size: 16px;
}

.dataTables_filter {
	float: right;
}
.dataTables_length {
	display: none;
}
.dataTables_wrapper {
	position: relative;
}
.dataTables_processing {
	position: absolute;
	width: 100%;
	height: 100%;
}

#datatable_featured_listings {
	margin-top:20px;
}


/* inline */
.featured-listings-wrapper .head {
	width: 100%;	
	float: left;
	clear: both;
}
.featured-listings-wrapper .head h4 {
	float: left;
}
.featured-listings-wrapper .head button {
	float: right;
}
.featured-listings-wrapper .featured-listings {
	float: left;
}
.featured-listings-wrapper .featured-listings ul {
	padding: 0 0 0 20px;
}
.featured-listings-wrapper .featured-listings ul li {
	font-size: 16px;
	list-style-type: disc;
}
