/* */
/* Variables */
/* */
/****  SET THESE  **** */
/****  SET THESE  **** */
/****  SET THESE  **** */
/****  SET THESE  **** */
/****  SET THESE  **** */
/****  SET THESE  **** */
/* */
/* Mixins */
/* */
a, a:link, a:visited {
  color: #2793e5;
  text-decoration: none; }
  a:active, a:link:active, a:visited:active {
    color: #2793e5; }
  a:hover, a:link:hover, a:visited:hover {
    color: #444444; }

a.anchor-secondary, a.anchor-secondary:link, a.anchor-secondary:visited {
  color: #19d231;
  text-decoration: none; }
  a.anchor-secondary:active, a.anchor-secondary:link:active, a.anchor-secondary:visited:active {
    color: #444444; }
  a.anchor-secondary:hover, a.anchor-secondary:link:hover, a.anchor-secondary:visited:hover {
    color: #444444; }

.button-primary {
  border-top: 1px solid #999999;
  border-left: 1px solid #777777;
  border-right: 1px solid #777777;
  border-bottom: 1px solid #777777;
  background: -webkit-gradient(linear, left top, left bottom, from(#999999), to(#444444));
  background: -moz-linear-gradient(top, #999999, #444444);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$button-color-light', endColorstr='$button-color-dark');
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-bottom: 15px;
  color: #fefefe;
  box-shadow: 0 0 0 1px #999999;
  -webkit-box-shadow: 0 0 0 1px #999999;
  -moz-box-shadow: 0 0 0 1px #999999;
  text-shadow: 0 1px 1px #777777;
  font-weight: 600;
  font-size: 16px;
  margin-left: 8px;
  margin-top: 10px; }
  .button-primary:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#999999));
    background: -moz-linear-gradient(top, #444444, #999999);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$button-color-dark', endColorstr='$button-color-light'); }
  .button-primary:active {
    background: #777777; }

.button-secondary {
  border-top: 1px solid #64b1ed;
  border-left: 1px solid #2793e5;
  border-right: 1px solid #2793e5;
  border-bottom: 1px solid #2793e5;
  background: -webkit-gradient(linear, left top, left bottom, from(#64b1ed), to(#1674bb));
  background: -moz-linear-gradient(top, #64b1ed, #1674bb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$button-color-light', endColorstr='$button-color-dark');
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-bottom: 15px;
  color: #fefefe;
  box-shadow: 0 0 0 1px #999999;
  -webkit-box-shadow: 0 0 0 1px #999999;
  -moz-box-shadow: 0 0 0 1px #999999;
  text-shadow: 0 1px 1px #777777;
  font-weight: 600;
  font-size: 16px;
  margin-left: 8px;
  margin-top: 10px; }
  .button-secondary:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#1674bb), to(#64b1ed));
    background: -moz-linear-gradient(top, #1674bb, #64b1ed);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$button-color-dark', endColorstr='$button-color-light'); }
  .button-secondary:active {
    background: #2793e5; }

.button-tertiary {
  border-top: 1px solid #36e74e;
  border-left: 1px solid #19d231;
  border-right: 1px solid #19d231;
  border-bottom: 1px solid #19d231;
  background: -webkit-gradient(linear, left top, left bottom, from(#36e74e), to(#14ad29));
  background: -moz-linear-gradient(top, #36e74e, #14ad29);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$button-color-light', endColorstr='$button-color-dark');
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-bottom: 15px;
  color: #fefefe;
  box-shadow: 0 0 0 1px #999999;
  -webkit-box-shadow: 0 0 0 1px #999999;
  -moz-box-shadow: 0 0 0 1px #999999;
  text-shadow: 0 1px 1px #777777;
  font-weight: 600;
  font-size: 16px;
  margin-left: 8px;
  margin-top: 10px; }
  .button-tertiary:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#14ad29), to(#36e74e));
    background: -moz-linear-gradient(top, #14ad29, #36e74e);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$button-color-dark', endColorstr='$button-color-light'); }
  .button-tertiary:active {
    background: #19d231; }

nav {
  margin: 15px 0 0 0;
  border-top: 1px solid #DBDBDB;
  border-bottom: 1px solid #DBDBDB;
  padding: 0 10px; }
  nav ul {
    padding-left: 0;
    float: left; }
    nav ul li {
      float: left;
      width: auto;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px; }
      nav ul li a {
        position: relative;
        display: block;
        padding: 5px 10px;
        font-size: 15px;
        color: #555; }
        nav ul li a:hover {
          border-radius: 5px;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          background-color: #EEE; }

body {
  font-family: Helvetica, Arial;
  font-size: 15px;
  color: #444444; }
  body .inner {
    padding: 20px 10px;
    float: left; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: black;
  margin: 15px 0;
  font-weight: 400;
  font-family: Helvetica, Arial; }
  h1 a, h1 a:link, h1 a:visited, h1 a:active, h2 a, h2 a:link, h2 a:visited, h2 a:active, h3 a, h3 a:link, h3 a:visited, h3 a:active, h4 a, h4 a:link, h4 a:visited, h4 a:active, h5 a, h5 a:link, h5 a:visited, h5 a:active, h6 a, h6 a:link, h6 a:visited, h6 a:active, .h1 a, .h1 a:link, .h1 a:visited, .h1 a:active, .h2 a, .h2 a:link, .h2 a:visited, .h2 a:active, .h3 a, .h3 a:link, .h3 a:visited, .h3 a:active, .h4 a, .h4 a:link, .h4 a:visited, .h4 a:active, .h5 a, .h5 a:link, .h5 a:visited, .h5 a:active, .h6 a, .h6 a:link, .h6 a:visited, .h6 a:active {
    color: black; }
    h1 a:hover, h1 a:link:hover, h1 a:visited:hover, h1 a:active:hover, h2 a:hover, h2 a:link:hover, h2 a:visited:hover, h2 a:active:hover, h3 a:hover, h3 a:link:hover, h3 a:visited:hover, h3 a:active:hover, h4 a:hover, h4 a:link:hover, h4 a:visited:hover, h4 a:active:hover, h5 a:hover, h5 a:link:hover, h5 a:visited:hover, h5 a:active:hover, h6 a:hover, h6 a:link:hover, h6 a:visited:hover, h6 a:active:hover, .h1 a:hover, .h1 a:link:hover, .h1 a:visited:hover, .h1 a:active:hover, .h2 a:hover, .h2 a:link:hover, .h2 a:visited:hover, .h2 a:active:hover, .h3 a:hover, .h3 a:link:hover, .h3 a:visited:hover, .h3 a:active:hover, .h4 a:hover, .h4 a:link:hover, .h4 a:visited:hover, .h4 a:active:hover, .h5 a:hover, .h5 a:link:hover, .h5 a:visited:hover, .h5 a:active:hover, .h6 a:hover, .h6 a:link:hover, .h6 a:visited:hover, .h6 a:active:hover {
      color: #2793e5; }

h1, .h1 {
  font-size: 35px; }

h2, .h2 {
  font-size: 30px; }

h3, .h3 {
  font-size: 25px; }

h4, .h4 {
  font-size: 20px; }

h5, .h5 {
  font-size: 17px; }

h6, .h6 {
  font-size: 14px; }

p, .p1, .p2, .p3, .p4, .p5, .p6 {
  color: #444444;
  margin: 10px 0;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  line-height: 20px;
  font-size: 15px;
  font-weight: 400;
  font-family: Helvetica, Arial; }

p.p2 {
  color: #777777; }
p.p3 {
  color: #999999; }
p.p4 {
  color: black; }
p.p5 {
  color: #d22819; }
p.p6 {
  color: #19d231; }

img, embed, iframe {
  background: white;
  padding: 5px;
  border: 1px solid #999999;
  box-shadow: 0px 0px 3px #444444;
  -webkit-box-shadow: 0px 0px 3px #444444;
  -moz-box-shadow: 0px 0px 3px #444444;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

ul, ol {
  padding: 0 0 0 30px;
  margin: 20px 0px; }
  ul li, ol li {
    padding: 2px 0; }

ul li {
  list-style-image: none; }

pre, code {
  border-left: 5px solid #2793e5;
  padding: 10px 20px; }

blockquote {
  margin: 30px 40px;
  font-style: oblique;
  line-height: 20px; }

table caption {
  color: #444444;
  margin: 10px 0;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  line-height: 20px;
  font-size: 15px;
  font-weight: 400;
  font-family: Helvetica, Arial;
  text-shadow: 0 1px 1px #777777; }
table tbody tr th, table tbody tr td {
  padding: 10px 15px;
  border: 1px solid #999999; }
table tbody tr th {
  background-color: #777777;
  background-image: none;
  background-repeat: none;
  text-shadow: 0 1px 1px #444444;
  color: white; }

form label, form input, form textarea, form .chzn-container, form select {
  float: left; }
form label {
  color: #444444;
  margin: 10px 0;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  line-height: 20px;
  font-size: 15px;
  font-weight: 400;
  font-family: Helvetica, Arial;
  width: 100%;
  margin-bottom: 5px;
  color: #777777;
  font-weight: 600; }
form input[type="text"], form input[type="email"], form input[type="password"] {
  border: 1px solid #cccccc;
  height: 25px;
  background-color: white;
  color: #777777;
  padding: 3px 5px;
  box-shadow: inset 0px 11px 9px -12px #cccccc;
  -webkit-box-shadow: inset 0px 11px 9px -12px #cccccc;
  -moz-box-shadow: inset 0px 11px 9px -12px #cccccc;
  font-size: 13px; }
form textarea {
  color: #444444;
  margin: 10px 0;
  text-shadow: none;
  text-decoration: none;
  text-transform: none;
  line-height: 20px;
  font-size: 15px;
  font-weight: 400;
  font-family: Helvetica, Arial;
  color: #777777;
  padding: 5px; }
form .chzn-container .chzn-search {
  float: none;
  display: none; }
form ul.chzn-results {
  margin: 0 !important;
  border-radius: 0 !important; }
  form ul.chzn-results li {
    color: #777777 !important;
    margin: 0 0 0 -4px !important;
    padding-left: 8px !important;
    padding: 5px 7px !important;
    line-height: 18px !important; }
  form ul.chzn-results li.highlighted {
    background-color: #777777 !important;
    color: white !important; }
form .chzn-single {
  height: 31px !important;
  border-radius: 0px !important;
  box-shadow: inset 0px 11px 9px -12px #cccccc !important;
  background: white !important; }
  form .chzn-single span {
    line-height: 31px !important;
    color: #777777;
    font-weight: 600; }
  form .chzn-single div {
    background: none !important;
    border-left: none !important;
    width: 22px !important; }
    form .chzn-single div b {
      background-position: 0 3px !important; }
  form .chzn-single.chzn-single-with-drop div b {
    background-position: -18px 1px !important; }

#simple_map img, #simple_map embed {
  border: none;
  background: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none; }

footer {
  width: 100%;
  float: left; }

#comments-template {
  float: left; }
