/* Mixins */
#branding {
  margin-top: 50px; }
  #branding h1 {
    margin-bottom: 0px;
    /* improper reset */
    padding: 0px;
    /* improper reset */ }
  #branding h2 {
    margin-top: 0px;
    /* improper reset */
    margin-bottom: 0px;
    /* improper reset */ }

nav {
  margin: 30px 0px; }
  nav ul {
    padding-left: 10px;
    float: left; }
    nav ul li {
      float: left;
      width: auto; }
      nav ul li a {
        position: relative;
        display: block;
        padding: 5px 10px; }

aside {
  margin-top: -15px; }
  aside h3 {
    font-size: 18px;
    padding: 0 0 10px 0;
    color: #666; }
  aside .widget-pls-quick-search .chzn-container-single {
    padding: 5px 0px; }
  aside .widget-pls-quick-search .pls_search_form {
    margin: 0px 10px;
    float: left; }
    aside .widget-pls-quick-search .pls_search_form label {
      margin-right: 10px; }
  aside .widget-pls-quick-search .bedrooms label {
    margin-right: 37px; }
  aside .widget-pls-quick-search .bathrooms, aside .widget-pls-quick-search .bedrooms, aside .widget-pls-quick-search .half_baths {
    float: left; }
    aside .widget-pls-quick-search .bathrooms select, aside .widget-pls-quick-search .bedrooms select, aside .widget-pls-quick-search .half_baths select {
      width: 75px; }
  aside .widget-pls-quick-search .property_type label {
    margin-right: 15px; }
  aside .widget-pls-quick-search .property_type select {
    width: 185px; }
  aside .widget-pls-quick-search .listing_types label {
    margin-right: 26px; }
  aside .widget-pls-quick-search .listing_types select {
    width: 185px; }
  aside .widget-pls-quick-search .zoning_types label {
    margin-right: 24px; }
  aside .widget-pls-quick-search .zoning_types select {
    width: 185px; }
  aside .widget-pls-quick-search .purchase_types label {
    margin-right: 10px; }
  aside .widget-pls-quick-search .purchase_types select {
    width: 185px; }
  aside .widget-pls-quick-search .available_on label {
    margin-right: 15px; }
  aside .widget-pls-quick-search .cities label, aside .widget-pls-quick-search .states label {
    margin-right: 39px; }
  aside .widget-pls-quick-search .zips label {
    margin-right: 17px; }
  aside .widget-pls-quick-search .zips select {
    width: 210px; }
  aside .widget-pls-quick-search .available_on select, aside .widget-pls-quick-search .cities select, aside .widget-pls-quick-search .states select {
    width: 210px; }
  aside .widget-pls-quick-search .min_price label {
    margin-right: 17px; }
  aside .widget-pls-quick-search .min_price, aside .widget-pls-quick-search .max_price {
    margin: 0px 5px; }
    aside .widget-pls-quick-search .min_price select, aside .widget-pls-quick-search .max_price select {
      width: 75px; }
  aside .widget-pls-quick-search input.pls_search_button {
    float: right;
    clear: both;
    padding: 10px 15px;
    margin-top: 10px; }
  aside .widget-pls-agent img {
    border: 1px solid #DBDBDB;
    padding: 10px;
    float: left; }
  aside .widget-pls-agent h5, aside .widget-pls-agent span {
    margin: 0 0 10px 10px; }
  aside .widget-pls-agent h5 {
    float: left;
    font-size: 20px; }
  aside .widget-pls-agent span.email {
    float: left;
    font-size: 14px; }
  aside .widget-pls-agent span.phone {
    float: left;
    font-size: 20px; }

/* Main Content */
#main_content article {
  padding: 30px 0px; }
  #main_content article .property-details {
    padding: 0px; }
  #main_content article header h3, #main_content article footer h3 {
    margin: 10px 0 10px 0; }
  #main_content article header ul, #main_content article footer ul {
    padding: 0px; }
    #main_content article header ul li, #main_content article footer ul li {
      float: left;
      list-style-type: none;
      padding-right: 5px; }
  #main_content article .entry-meta {
    float: right; }
    #main_content article .entry-meta a {
      padding: 5px 10px; }
  #main_content article .outline {
    padding: 10px; }
  #main_content article .property-image-gallery {
    padding-left: 0px; }
    #main_content article .property-image-gallery li {
      float: left;
      padding: 5px;
      margin-right: 10px; }
  #main_content article .details-list-txt ul {
    padding-left: 0px; }
    #main_content article .details-list-txt ul li {
      width: 290px;
      overflow: hidden;
      float: left;
      margin-right: 10px; }
  #main_content article .property-bottom-nav {
    padding: 10px 0px; }

/* default get listings list */
.listing-item header {
  padding: 10px 0px; }
.listing-item .listing-thumbnail {
  float: left;
  width: 270px; }
.listing-item .basic-details {
  width: 250px;
  float: left;
  padding-left: 15px; }
  .listing-item .basic-details h3 {
    margin-top: 0px;
    color: #333;
    font-weight: normal; }
  .listing-item .basic-details p {
    margin: 3px 0px; }
.listing-item .actions {
  width: 330px;
  padding-right: 5px;
  float: left;
  margin-top: 10px; }
  .listing-item .actions a {
    float: right;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px;
    background-color: #EEE; }
  .listing-item .actions a:hover {
    background-color: #5e5e5e;
    color: white; }

/* search */
.complex-search .pls_search_form {
  float: left;
  width: 300px;
  margin: 10px 10px 0 0; }
  .complex-search .pls_search_form select {
    margin-left: 10px;
    width: 190px; }
  .complex-search .pls_search_form .chzn-container {
    float: right; }
.complex-search .pls_search_button {
  float: right;
  padding: 10px 30px;
  margin: 10px 10px 0 0; }

.sort_by_wrapper {
  float: right; }
  .sort_by_wrapper label {
    float: left;
    margin: 12px 10px 0 0; }
  .sort_by_wrapper #sort-by {
    width: 200px; }
