/*
Syntax error: Undefined mixin 'rounded-corners'.
        on line 154 of sass/sidebar-widgets.scss, in `rounded-corners'
        from line 154 of sass/sidebar-widgets.scss

149:             padding: 10px;
150:    	    }
151:        a.learn-more {
152:             margin: 10px 0;
153:             float: right;
154:             @include rounded-corners;
155:             padding: 10px;
156:             background-color: #EEE;
157:         }
158:         a.learn-more:hover {
159:             background-color: #5e5e5e;

Backtrace:
sass/sidebar-widgets.scss:154:in `rounded-corners'
sass/sidebar-widgets.scss:154
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/perform.rb:168:in `visit_mixin'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/perform.rb:234:in `visit_rule'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/perform.rb:234:in `visit_rule'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/perform.rb:234:in `visit_rule'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/perform.rb:47:in `visit_root'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/tree/root_node.rb:20:in `render'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/engine.rb:300:in `_render'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/engine.rb:247:in `render'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/plugin/compiler.rb:339:in `update_stylesheet'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/plugin/compiler.rb:202:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/plugin/compiler.rb:200:in `each'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/plugin/compiler.rb:200:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/plugin/compiler.rb:272:in `watch'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `call'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `run_callback'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.7/lib/fssm/path.rb:55:in `callback_action'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.7/lib/fssm/path.rb:35:in `update'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.7/lib/fssm/state/directory.rb:39:in `modified'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.7/lib/fssm/state/directory.rb:37:in `each'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.7/lib/fssm/state/directory.rb:37:in `modified'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.7/lib/fssm/state/directory.rb:18:in `refresh'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `run'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `each'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `run'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:15:in `loop'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:15:in `run'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.7/lib/fssm/monitor.rb:26:in `run'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.7/lib/fssm.rb:20:in `monitor'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/plugin/compiler.rb:265:in `watch'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/plugin.rb:107:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/plugin.rb:107:in `method_missing'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/exec.rb:421:in `watch_or_update'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/exec.rb:302:in `process_result'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/exec.rb:41:in `parse'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/../lib/sass/../sass/exec.rb:21:in `parse!'
/Library/Ruby/Gems/1.8/gems/sass-3.1.11/bin/sass:8
/usr/bin/sass:19:in `load'
/usr/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'rounded-corners'.\A         on line 154 of sass/sidebar-widgets.scss, in `rounded-corners'\A         from line 154 of sass/sidebar-widgets.scss\A \A 149:             padding: 10px;\A 150:    	    }\A 151:        a.learn-more {\A 152:             margin: 10px 0;\A 153:             float: right;\A 154:             @include rounded-corners;\A 155:             padding: 10px;\A 156:             background-color: #EEE;\A 157:         }\A 158:         a.learn-more:hover {\A 159:             background-color: #5e5e5e;"; }
